{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <caption>Liste des Users</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>first name</th>
            <th>Laste Name</th>
            <th>email</th>
            <th> birthdate</th>

        </tr>
        </thead>
        <tbody>

         {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firsname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>

            <td>
                {% if user.birthdate is not null %}
                {{ user.birthdate|date('d/m/Y ') }}
            {% endif %}
            </td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
